.hd {
    flex: 0 0 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 24px;
    height: 56px;
    border-bottom: 1px solid var(--rz-base-300);
}

.bd .dir-detail-default {
    width: 72px;
    height: 64px;
    display: inline-block;
}

.empty_logo {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}

.title {
    min-width: 2em;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: left;
    color: #232d47;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.markdown-container {
    height: calc(100% - 56px);
}

.toolbar {
    display: flex;
    align-items: center;
}

.switch-icon {
    color: transparent;
}

.switch-icon svg {
    fill: currentColor;
}

.hd-view-mode {
    padding-left: 0.75rem;
}

::deep .hd-view-mode > ul {
    padding: 0;
    border-left: none;
    background-color: var(--rz-base-100);
}

::deep .hd-view-mode > ul > .rz-navigation-item > .rz-navigation-item-wrapper > .rz-navigation-item-link {
    padding: 0 !important;
}

::deep .hd-view-mode > ul > .rz-navigation-item > .rz-navigation-item-wrapper > .rz-navigation-item-link .item-text {
    padding: 0 0rem;
    width: 1.8rem;
    height: 1.8rem;
}

::deep .hd-view-mode > ul > .rz-navigation-item > .rz-navigation-item-wrapper > .rz-navigation-item-link .rz-navigation-item-icon-children {
    display: none;
}

::deep .md-splitscreen .rz-navigation-item-icon {
    transform: rotate(90deg);
}

::deep .hd-view-mode .rz-navigation-item-link {
    padding: 0.3rem 1rem 0.3rem 0.5rem !important;
}
