.avatar ::deep img {
    width: 52px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-drag: none;
}

::deep .btn-add {
    min-width: 100px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

::deep .my-directory > .rz-navigation-item-wrapper .rz-navigation-item-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 15px;
    font-weight: 600;
}
