<sidebar>
    <RadzenStack AlignItems="AlignItems.Center" class="rz-mx-auto h-100">
        <div class="avatar rz-mt-8">
            <RadzenImage Path="/images/avatar.jpg" />
        </div>
        <RadzenButton Text="新建" Icon="add" Shade="Shade.Light" class="btn-add" />

        <MemoPanelMenu Multiple="true" class="rz-scrollbars w-100">
            <MemoItems Memos="RootMemo?.Children" CurrentMemo="Selection" OnMenuItemClick=@OnMemoItemClick OnBtnMoreClick="OnMoreClick" DirectoryOnly="true" />
        </MemoPanelMenu>
    </RadzenStack>
</sidebar>

@code {
    [CascadingParameter]
    public MemoItem? RootMemo { get; set; }

    [Parameter]
    public MemoItem? Selection { get; set; }

    [Parameter]
    public EventCallback<MemoItem?> SelectionChanged { get; set; }

    public async Task OnMemoItemClick(MemoMenuItemEventArgs args)
    {
        var memo = args.Value as MemoItem;
        await SelectionChanged.InvokeAsync(memo);
    }

    void OnMoreClick(MouseEventArgs args)
    {

    }
}
